# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and debug files
*.log

# Cache
*.egg-info/
.eggs/
dist/
build/
.cache/
*.bak

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover

# Environment variables or sensitive files
.env
.env.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Pip
pip-wheel-metadata/

# Poetry
poetry.lock

# data
*.parquet
!tests/data/*